<h3>{{title}}</h3>
<hr/>

<!-- TABLA SMART-->
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted"></div>
    <div class="card-block pt-0 widget-body">
        <div class="table-responsive">
            <ng2-smart-table  class="table table-hover"
                              [settings]="settings" 
                              [source]="entries" 
                              (edit)="updateEntry($event)"></ng2-smart-table>
        </div>          
    </div>
</div>