<h3>{{title}}</h3>
<hr/>

<!--BOTONES-->
<form #formCreateOut="ngForm" (ngSubmit)="onSubmit()" class="form-group col-md-12 col-lg-12">
	<br>
	<div class="row" align="right">
		<div class="form-group col-md-12 col-lg-12">
			<input type="submit" value="Crear Salida" [disabled]="!formCreateOut.form.valid" class="btn btn-primary">
		</div>
	</div>
</form>

<!--CABECERA-->
<div class="row">
     <div class="col">
        
        <div widget class="card border-0 box-shadow">
            <div class="card-header  transparent border-0 text-muted">
                <h5 class="mb-0">Cabecera</h5>
            </div>
            <hr/>
            <div class="card-block widget-body">

				<div class="row">
					<div class="form-group col-md-12 col-lg-6">
						<label>
							Número de documento*
						</label>
						<input type="text" #numdoc="ngModel" name="numdoc" [(ngModel)]="header.id" class="form-control" required disabled>
					</div>

					<div class="form-group col-md-12 col-lg-6">
						<label>
							Fecha*
						</label>
						<input type="text" #date="ngModel" name="date" [(ngModel)]="header.date" class="form-control">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12 col-lg-6">
						<label>
							Folio Fiscal de Factura
						</label>
						<input type="text" #invoiceCode="ngModel" name="invoiceCode" [(ngModel)]="header.invoiceCode" class="form-control" disabled>
					</div>	

					<div class="form-group col-md-12 col-lg-6">
						<label>
							Motivo*
						</label>
						<input type="text" #reason="ngModel" name="reason" [(ngModel)]="header.reason" class="form-control">
					</div>	
				</div>

				<div class="row">
					<div class="form-group col-md-12 col-lg-6">
						<label>
							Cliente*
						</label>
						<input type="text" #client="ngModel" name="client" [(ngModel)]="header.client" class="form-control" required>
					</div>		

					<div class="form-group col-md-12 col-lg-6">
						<label>
							Sucursal*
						</label>
						<input type="text" #subsidiary="ngModel" name="subsidiary" [(ngModel)]="header.subsidiary" class="form-control" required>
					</div>	
				</div>	
               
            </div>
        </div>

    </div>    
</div>

<br>

<!--FORMULARIO AGREGAR ITEM-->
<div class="row">
     <div class="col">
     
        <div widget class="card border-0 box-shadow">
            <div class="card-header  transparent border-0 text-muted">
                <h5 class="mb-0">{{itemsTitle}}</h5>
            </div>
            <hr/>
            <div class="card-block widget-body">
                
                <form #formCreateItem="ngForm" (ngSubmit)="onSubmitAddItem()" class="row form-group">
                    <div class="form-group col-md-12 col-lg-3">
                    	<label>Tipo</label>
                        <input type="text" #type="ngModel" name="client" [(ngModel)]="item.type" name="type" class="form-control">
                    </div>
                    <div class="form-group col-md-12 col-lg-3">
                    	<label>Producto/Servicio</label>
                        <input type="text" #concept="ngModel" name="concept" [(ngModel)]="item.concept" name="concept" class="form-control">
                    </div> 
                    <div class="form-group col-md-12 col-lg-3">
                    	<label>Cantidad</label>
                        <input type="text" #quantity="ngModel" name="quantity" [(ngModel)]="item.quantity" name="quantity" class="form-control">
                    </div>   
                    <div class="form-group col-md-12 col-lg-3">
                    	<label>Precio Unitario</label>
                        <input type="text" #price="ngModel" name="price" [(ngModel)]="item.price" name="price" class="form-control">
                    </div>                                        
                    <div class="form-group col-md-12 col-lg-3">
                    	<label>Costo Adicional</label>
                        <input type="text" #aditional="ngModel" name="aditional" [(ngModel)]="item.aditional" name="aditional" class="form-control">
                    </div>                       
                    <div class="form-group col-md-12 col-lg-3" align="center">
                    	<br>
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input checkbox-primary" type="checkbox" #anticipated="ngModel" name="anticipated" [(ngModel)]="item.anticipated" name="anticipated">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Anticipado</span>
                        </label>
                    </div> 
                    <div class="form-group col-md-12 col-lg-3" align="center">
                    	<br>
                        <button type="submit" *ngIf="mode == 'add'" class="btn btn-primary">Agregar Item</button>
                        <button type="button" *ngIf="mode == 'update'" (click)="OnSubmitUpdateItem(item.id)" class="btn btn-info">Modificar Item</button>                        
                    </div> 
					<div class="form-group col-md-12 col-lg-3" align="center">
                    	<br>                    
                    	<button type="button" *ngIf="mode == 'update'" (click)="cancelUpdate()" class="btn btn-danger">Cancelar Modificación</button>
                    </div>
                </form>              
               
            </div>
        </div>

    </div>    
</div>

<br>
<!--TABLA ITEMS-->
<div class="" *ngIf="items[0] != null">
    <div widget class="card border-0 box-shadow">
        <div class="card-block pt-0 widget-body table-responsive">
        	<br>        
            <table class="table table-bordered col-lg-6">
                <thead>
                    <tr>
                        <th>TIPO</th>
                        <th>CONCEPTO</th>
                        <th>CANTIDAD</th>
                        <th>PRECIO</th>
                        <th>ADICIONAL</th>
                        <th>ANTICIPADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let i = index;">
                        <td>{{item.type}}</td>
                        <td>{{item.concept}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.aditional}}</td>
                        <td align="center"><input type="checkbox" ng-checked="item.anticipated == true" name="anticipated" disabled/></td>
                        <td align="center">
                        	<!--a [routerLink]="['/pages/user-update', item.id]">
                        	<a href="javascript:void(0)" ng-click="addItemForm()">
                        		<i class="fa fa-pencil"></i>
                        	</a-->
                        	<input type="button" (click)="editItemForm(i)" class="btn btn-primary" value="E" />
                        	<input type="button" (click)="deleteItem(i)" class="btn btn-danger" value="B" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<!-- TABLA SMART-->
<!--div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Items Table</h5>      
    </div>
    <div class="card-block pt-0 widget-body">
        <div class="table-responsive">
            <ng2-smart-table  class="table table-hover"
                              [settings]="settings" 
                              [source]="data" 
                              (deleteConfirm)="onDeleteConfirm($event)"
                              (rowSelect)="onRowSelect($event)" 
                              (userRowSelect)="onUserRowSelect($event)"
                              (rowHover)="onRowHover($event)"></ng2-smart-table>
        </div>          
    </div>
</div-->