<h3>{{title}}</h3>
<hr/>

<div class="row">
	<div class="col-12 mb-4">
		<div widget class="card border-0 box-shadow">
			<div class="card-block widget-body">
				
				<form #formCreateUser="ngForm" (ngSubmit)="updateAppointment()" class="form">

					<div class="row">

                        <div class="form-group col-md-12 col-lg-6">
                            <!--label>Cliente*</label>
                            <select class="form-control custom-select" type="text" #client="ngModel" name="client" [(ngModel)]="appointment.clientId">
                                <option *ngFor="let client of clients" [value]="client.id">
                                    {{client.name}}
                                </option>
                            </select-->    
                            
                            <label>Cliente*</label>
                            <ng-select [items]="clients"
                                bindLabel="searchText"
                                bindValue="id"
                                #client="ngModel" name="client" [(ngModel)]="appointment.clientId"
                                notFoundText="No se encontraron clientes">
                            </ng-select>  

                        </div>
                        
                        <div class="form-group col-md-12 col-lg-6">
                            <label>
                                Fecha*
                            </label>
                            <div class="input-group">
                                <input class="form-control" placeholder="aaaa-mm-dd" name="date" [displayMonths]="'1'" [navigation]="'select'" ngbDatepicker #date="ngbDatepicker" [(ngModel)]="dateStruct" (ngModelChange)="onChangeDate()">
                                <div class="input-group-addon" (click)="date.toggle()">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>

					</div>

					<div class="row">
						<div class="form-group col-md-12 col-lg-6">
							<label>
								Notas
							</label>
                            <textarea type="text" #notes="ngModel" name="notes" [(ngModel)]="appointment.note" class="form-control" required></textarea>
						</div>		

						<div class="form-group col-md-12 col-lg-6">
							<br>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" #retaken="ngModel" name="retaken" [(ngModel)]="appointment.rescheduled" class="custom-control-input checkbox-primary">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Reagendada</span>
							</label>
						</div>	
					</div>

					<div class="row">	
                        
                        <div class="form-group col-md-12 col-lg-6">
                            <label>Sucursal*</label>
                            <select class="form-control custom-select" type="text" name="subsidiary" #subsidiary="ngModel" [(ngModel)]="appointment.subsidiaryId">
                                <option value="0" selected></option>
                                <option value="1">Olivares</option>
                                <option value="2">Luis Orci</option>
                                <option value="3">Dila</option>
                                <option value="4">Reforma</option>
                                <option value="5">Obregon</option>
                                <option value="6">Girasol</option>
                            </select>  
                        </div>

					</div>

					<br>
					<div class="row" align="right">
						<div class="form-group col-md-12 col-lg-12">
							<input type="submit" value="{{title}}" class="btn btn-primary">
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<!--AGREGAR SERVICIOS-->
<div class="col-12">
    <button class="btn btn-primary" (click)="createItemModal(modalService)"><i class="fa fa-plus"></i> Agregar Servicio</button>
    <a class="btn btn-info" [routerLink]="['../../ticket', appointment.id]" target="_blank"><i class="fa fa-print"></i> Ticket</a>
    <button class="btn btn-danger" (click)="createTransaction()"><i class="fa fa-shopping-cart"></i> Crear Salida</button>
</div>

<!--MODAL SERVICIO-->
<ng-template #modalService>
    <div class="modal-header">
        {{titleService}}
    </div>
    <div class="modal-body">
                <form #formService="ngForm" class="form-horizontal">
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Hora</label>
                        <ngb-timepicker name="time" [(ngModel)]="timeStruct" [meridian]="true"></ngb-timepicker>                     
                    </div>
                    <div class="form-group col-md-12 col-lg-12">
                        <!--label>Servicio</label>                        
                        <select class="form-control custom-select" type="text" #service="ngModel" name="service" 
                        [(ngModel)]="appointmentItem.serviceId">
                            <option *ngFor="let service of services" [value]="service.id">
                                {{service.name}}
                            </option>
                        </select-->
                        
                        <label>Servicio</label>
                        <ng-select [items]="services"
                            bindLabel="name"
                            bindValue="id"
                            #service="ngModel" name="service" [(ngModel)]="appointmentItem.serviceId"
                            notFoundText="No se encontraron servicios">
                        </ng-select> 
                    </div>   
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Estado</label>
                        <select class="form-control custom-select" type="text" #state="ngModel" name="state" 
                        [(ngModel)]="appointmentItem.status">
                            <option value="Agendada">Agendada</option>
                            <option value="Confirmada">Confirmada</option>
                            <option value="Iniciada">Iniciada</option>
                            <option value="Completada">Completada</option>
                            <option value="Cancelada">Cancelada</option>
                            <option value="Incumplida">Incumplida</option>
                        </select> 
                    </div>   
                    
                    <div class="form-group col-md-12 col-lg-12">
                        <label>Empleado</label>                        
                        <select class="form-control custom-select" type="text" #employee="ngModel" name="employee" 
                        [(ngModel)]="appointmentItem.employeeId">
                            <option *ngFor="let employee of employees" [value]="employee.id">
                                {{employee.name}}
                            </option>
                        </select>                         
                    </div>  

                    <br>
                    <div class="row">
                        <div class="form-group col-12">
                            <button type="button" *ngIf="mode == 'add'" (click)="createAppointmentItem()" 
                            class="btn btn-primary btn-block">Agregar Servicio</button> 
                        </div> 
                        <div class="form-group col-12">
                            <button type="button" *ngIf="mode == 'update'" (click)="updateAppointmentItem()" 
                            class="btn btn-info btn-block">Modificar Servicio</button>  
                            <!--button type="button" *ngIf="mode == 'update'" (click)="updatePaymentMethod(paymentMethod.id)" class="btn btn-info btn-block">Modificar Servicio</button>  
                            <button type="button" *ngIf="mode == 'update'" (click)="cancelPaymentMethodUpdate()" class="btn btn-danger btn-block">Cancelar Modificación</button-->
                        </div>
                    </div>
                </form>         
    </div>
</ng-template>

<!--TABLA SERVICIOS-->
<br>
<div class="" *ngIf="appointmentItems[0] != null">
    <h3>Servicios</h3>
    <div widget class="card border-0 box-shadow">
        <div class="card-block pt-0 widget-body table-responsive">
            <br>        
            <table class="table table-bordered col-lg-6">
                <thead>
                    <tr>
                        <th>HORA</th>
                        <th>SERVICIO</th>
                        <th>ESTADO</th>
                        <th>EMPLEADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of appointmentItems; let i = index;">
                        <td>{{item.time}}</td>
                        <td>{{item.serviceName}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.employeeName}}</td>
                        <td align="center">
                            <a (click)="updateItemModal(i, modalService)" href="javascript:void(0)">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (click)="deleteItem(i)" href="javascript:void(0)">
                                <i class="fa fa-trash-o text-danger"></i>
                            </a>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--CITAS AGENDADAS-->
<!--br>
<div class="row" *ngIf="appointment.date">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-block widget-body table-responsive">
                
                <h5 *ngIf="appointmentServices[0] == null">No hay citas agendadas el {{appointment.date.year}}-{{appointment.date.month}}-{{appointment.date.day}}</h5>
                
                <div *ngIf="appointmentServices">
                    <h5>Citas agendadas el {{appointment.date.year}}-{{appointment.date.month}}-{{appointment.date.day}}</h5>
                    <br>
                    <table class="table table-bordered col-lg-6">
                        <thead>
                            <tr>
                                <th>HORA</th>
                                <th>ESTADO</th>
                                <th>TELEFONO</th>
                                <th>NOMBRE</th>
                                <th>SERVICIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appointmentService of appointmentServices; let i = index;">
                                <td>{{appointmentService.time}}</td>
                                <td>{{appointmentService.state}}</td>
                                <td>{{appointmentService.phone}}</td>
                                <td>{{appointmentService.name}}</td>
                                <td>{{appointmentService.service}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div-->                    