<div class="col-12 mb-4">
    <div widget class="card border-0 box-shadow" *ngIf="userService.currentUser.admin">
        <div class="card-header transparent border-0 text-muted">
            <h5 class="mb-0">Ventas del día</h5>
        </div>
        <div class="card-block widget-body">              
            <div class="w-100 h-300p">
                <ngx-charts-advanced-pie-chart
                    [scheme]="colorScheme"
                    [results]="single"
                    [gradient]="gradient"
                    (select)="onSelect($event)">
                </ngx-charts-advanced-pie-chart>
            </div>
        </div>
    </div>

    <!--appointment-list></appointment-list-->
</div>


